reboot:
  name: Reboot device
  target:
    device:
      integration: openwrt
exec:
  name: Execute command
  target:
    device:
      integration: openwrt
  fields:
    command:
      name: Command
      description: Command to execute
      required: true
      example: "wifi reload"
      selector:
        text: {}
    environment:
      name: Environment variables
      description: Map of Environment variables names with values
      required: false
      selector:
        object: {}
    extra:
      name: Extra event fields
      description: Arbitrary object added to the execute result event
      required: false
      selector:
        object: {}
init:
  name: Managing services
  target:
    device:
      integration: openwrt
  fields:
    name:
      name: Name
      description: Service Name
      required: true
      example: "dnsmasq"
      selector:
        text: {}
    action:
      name: Action
      description: Common actions supported by most services
      required: true
      example: "restart"
      selector:
        text: {}